.top-bar {
    /* background-color:rgba(91, 192, 222, 1); */
    background: linear-gradient(90deg, rgba(91,192,222,1) 0%, rgba(247,247,247,1) 52%, rgba(91,192,222,1) 100%);
}

.logo_header {
    position: relative;
 
}

.navbar {

    padding-bottom: 30px
}

.serviceCard {
    border-radius: 20px;
    width: 15rem;
}
.borderless td, .borderless th {
    border:none;
}

.footer_link {
    text-decoration: underline;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  header .container {
    position: relative;
    z-index: 2;
  }

  header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}
@media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

.quote_box {
    background-color: rgb(135,133,128,.7);
    border-radius: 30px;

}

#footer_container {
    background: linear-gradient(90deg, rgba(91,192,222,1) 0%, rgba(247,247,247,1) 52%, rgba(91,192,222,1) 100%);
         font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: black;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }